<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<!-- end custom head snippets -->
 <div style="float:right;">
  <img style="width:100px;float:right;" src="https://user-images.githubusercontent.com/53179989/154842551-35382154-0288-45dd-b8cb-ea91c1ff9136.jpg">
  <ul>
    <li>
       HOME
    </li>
    <li>
       ABOUT
    </li>
  </ul>
</div>
